rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isLogined() {
  		return request.auth != null
    }

    match /todos/{todoId} {
      allow delete: if isLogined() && request.auth.uid == resource.data.createdBy.uid
      allow read, create: if isLogined();
    }
  }
}